# Datasets
datasets/

# Processed data
processed_data/

# MLflow
mlflow.db
mlruns/

# Models
models/
saved_models/
saved_checkpoints/

# log
logs/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/

# UV
uv.lock

# Cpython build artifacts
*.cpython-312-x86_64-linux-gnu.so
build
build/*

